<div class="masthead">

  <nav class="language-nav">
    <ul>
      <li>
        <a href="test">CSS</a>
      </li>
      <li>
        <a href="test">HTML</a>
      </li>
      <li>
        <a href="test">Javascript</a>
      </li>
      <li>
        <a href="test">Ruby</a>
      </li>
    </ul>
  </nav>
  
  <img class="logo" src="assets/AA_Times_Logo.png">  

  <ul class="masthead-links">
    <li>
      <time>
        Tuesday, October 18, 2016
      </time>
    </li>
    <li>
      <a href="test">Today’s Paper</a>
    </li>
    <li>
      <i class="fas fa-video"></i><a href="test">Video</a>
    </li>
    <li>
      <button type="button">77°F</button>
    </li>
    <li>
      <button type="button">
        AAO <strong>+100%</strong>
      </button>
    </li>
  </ul>
 
 


</div>