<nav class="section-nav">
  <ul>
    <li>
      <a href="test">World</a>
    </li>
    <li>
      <a href="test">San Francisco</a>
    </li>
    <li>
      <a href="test">New York</a>
    </li>
    <li>
      <a href="test">Bootcamp Prep</a>
    </li>
    <li>
      <a href="test">Jumpstart</a>
    </li>
    <li>
      <a href="test">Online</a>
    </li>
    <li>
      <a href="test">Marketing</a>
    </li>
    <li>
      <a href="test">Sales</a>
    </li>
    <li>
      <a href="test">TalentMatch</a>
    </li>
    <li>
      <a href="test">Alumni</a>
    </li>
    <li>
      <a href="test">all</a>
    </li>
  </ul>
</nav>











