.section-nav > ul {
  display: flex;
  justify-content: center;
  
}

.section-nav > ul > li {
  margin-left: 1rem;
  
}

.section-nav > ul > li:hover {
  background-color: gray;
  text-decoration: none;
}

.section-nav > ul > li > a:hover {
  text-decoration: none;
}

.section-nav > ul > li:last-of-type:hover {
  background-color: transparent;
  text-decoration: underline;
}

.section-nav > ul > li:last-of-type {
  font-variant: small-caps;
  text-decoration: underline;
}